In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

In [9]:
df=pd.read_csv("E:\\datasets\\number_of_upvotes\\train_NIR5Yl1.csv")
df.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
Upvotes       0
dtype: int64

In [11]:
df.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [12]:
features=['ID','Tag','Reputation','Answers','Username','Views']
label=['Upvotes']
X=df[features]
y=df[label]

In [13]:
from sklearn.preprocessing import LabelEncoder 
class_le = LabelEncoder() 
X['New_Tag']=class_le.fit_transform(X['Tag'].values)
X.drop(columns=['Tag'],axis=0,inplace=True)
X.head()

       ID  Reputation  Answers  Username    Views  New_Tag
0   52664      3942.0      2.0    155623   7855.0        0
1  327662     26046.0     12.0     21781  55801.0        0
2  468453      1358.0      4.0     56177   8067.0        1
3   96996       264.0      3.0    168793  27064.0        0
4  131465      4271.0      4.0    112223  13986.0        1

In [14]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.6, random_state=0)
mns=MinMaxScaler()
X_train_norm=pd.DataFrame(mns.fit_transform(X_train))
X_test_norm=pd.DataFrame(mns.transform(X_test))

In [15]:


# Define model. Specify a number for random_state to ensure same results each run
upvotes_model= DecisionTreeRegressor(random_state=1)
 

# Fit the model
upvotes_model.fit(X_train_norm,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [16]:
predictions = upvotes_model.predict(X_test_norm)

In [17]:
accuracy_score(predictions,y_test)

0.03285410575325587

In [144]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test,predictions)

4344530.486312472

In [145]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train_norm, y_train)
pred=reg.predict(X_test_norm)
#plt.scatter(y_test,pred)
#plt.xlabel("y_test")
#plt.ylabel("predicted")
#reg.score(X_test_norm,y_test)
#accuracy_score(pred,y_test)
#score=(X_test_norm, y_test)
#score

In [146]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test,pred)

8104000.314273471

In [147]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly = PolynomialFeatures(degree=2)
X_ = poly.fit_transform(X_train_norm)
X_test_ = poly.fit_transform(X_test_norm)
lg = LinearRegression()

# Fit
lg.fit(X_, y_train)
mdl=lg.predict(X_test_)

In [148]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test,mdl)

1113574.3636647556